{{define "body"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p>Hello:</p>
    <p>{{.FirstName}} {{.LastName}} <br/></p>
    <p>Please find your invoice attached.</p>
    <p>--<br>
        Widgets Co.
    </p>
</body>

</html>
{{end}}